<p id="notice"><%= notice %></p>
<div class="alleventuser">
  <div class="epa">

  </div>
    <div class="container tablebox card-2">
      <table class="table">
        <thead>
          <tr>
            <th>Event</th>
            <th>User</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @event_to_users.each do |event_to_user| %>
            <tr>
              <td><%= event_to_user.event.name %></td>
              <td><%= event_to_user.user.first_name %></td>
              <td><%= link_to 'Show', event_to_user %></td>
              <td><%= link_to 'Edit', edit_event_to_user_path(event_to_user) %></td>
              <td><%= link_to 'Destroy', event_to_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
      <br>
      <div class="epa">
        <%= link_to new_event_to_user_path do %>
          <svg class="create" viewBox="0 0 24 24">
            <path fill="black" d="M19,13H13V19H11V13H5V11H11V5H13V11H19V13Z" />
        </svg>
        <% end %>
      </div>


    </div>
