<div id="fullpage">
  <div class="section">
    <h1 style="text-align:center; color:white; font-size:100px;">Bienvenido</h1>
  </div>
  <div class="section">
    <div class="slide" id="slide1">
      <h1 style="text-align:center; color:white">Mensaje</h1>
      <div class="container">
        <div class="row">
          <div class="col-6">
            <div class="container box">
              <%= form_tag sender_index_path, method: :post, multipart: true do %>
              <h2>Escribe tu mensaje al canal</h2>
                <div class="form-group">
                  <label for="exampleInputEmail1">Mensaje</label>
                  <%= text_field_tag :message, "", class: 'form-control' %>

                  <small id="emailHelp" class="form-text text-muted">Se enviará al canal</small>
                </div>
                  <%= submit_tag "Enviar", class: 'btn btn-primary' %>
              <% end %>
            </div>
          </div>
          <div class="col-6">
            <%=render 'sender_user/index'%>
          </div>
        </div>
      </div>
    </div>
    <div class="slide" id="slide2">
      <h1 style="text-align:center; color:white">Imagen</h1>
      <div class="container">
        <div class="row">
          <div class="col-6">
              <%=render 'send_image/index'%>
          </div>
          <div class="col-6">
              <%=render 'send_image_to_user/index'%>
          </div>
        </div>
      </div>
    </div>
    <div class="slide" id="slide3">
      <h1 style="text-align:center; color:white">Video</h1>
      <div class="container">
        <div class="row">
          <div class="col-6">
              <%=render 'send_video/index'%>
          </div>
          <div class="col-6">
              <%=render 'send_video_to_user/index'%>
          </div>
        </div>
      </div>
    </div>
    <div class="slide" id="slide4">
      <h1 style="text-align:center; color:white">Audio</h1>
      <div class="container">
        <div class="row">
          <div class="col-6">
              <%=render 'send_audio/index'%>
          </div>
          <div class="col-6">
              <%=render 'send_audio_to_user/index'%>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
  <h1 style="text-align:center">Ultimos mensajes</h1>
    <div class="container box tabla">
      <table class="table">
        <thead>
          <tr>
            <th>id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Last text</th>
          </tr>
        </thead>
        <tbody>
      <% @messages.each do |message| %>
          <tr>
            <th scope="row"><%= message.telegram_id %></th>
            <td><%= message.first_name %></td>
            <td><%= message.last_name %></td>
            <td><%= message.text %></td>
            <td><%= link_to "Borrar", message, :confirm => "Estas sefuro?", :method => :delete %></td>


          </tr>
      <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="section">
    <h1 style="text-align:center; font-size:100px;">Users...</h1>
  </div>


</div>
